
###> symfony/framework-bundle ###
/tmp/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
/tmp/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

.idea
.vscode
